* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Comic Relief", system-ui;
}

body {
    background: rgba(162, 202, 254, 1);
    text-align: center;
    background-image: url(../img/bodyBackImg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

a, button {transition: all .4s ease-in-out;}

a:active, button:active {
    transform: scale(1.1);
	transition: .2s;
}

.container {width: 84.275%;}

    /* Header */

header {margin: 16px 0 22px 0;}

    /* Login */

.login-title {
    font-size: 18px;
    font-weight: 700;
    color: rgba(35, 77, 127, 1);
    margin-bottom: 22px;
}

.loginInput {
    width: 272px;
    height: 37px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: rgba(51, 61, 74, 1);
    border: 0;
    outline: none;
}

.loginBtn {
    width: 272px;
    height: 37px;
    border-radius: 10px;
    border: 0;
    background: rgba(239, 138, 48, 1);
    font-size: 16px;
    font-weight: 700;
    color: rgba(229, 244, 251, 1);
    margin: 14px 0 15px 0;
    cursor: pointer;
}

    /* Games */

.games {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.all-games-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 14px;
    column-gap: 14px;
    justify-self: center;
}

.games-title {
    font-size: 18px;
    font-weight: 700;
    color: rgba(35, 77, 127, 1);
    margin-bottom: 15px;
}

.games-card-title-p {
    font-size: 15px;
    font-weight: 700;
    color: rgba(255, 249, 230, 1);
    margin-top: 3px;
}

.games-card img, .games-card-2 img, .games-card-3 img {
    width: 116px;
    height: 72px;
}

.games-card-1 img {
    width: 157px;
    height: 88px;
}

.games-card, .games-card-1, .games-card-2, .games-card-3 {
    width: 157px;
    height: 124px;
    border-radius: 10px;
    box-sizing: border-box;
}

.games-card, .games-card-2, .games-card-3 {
    padding: 9px 20px 0 21px;
}

.games-card {
    background: linear-gradient(to bottom, rgba(251, 241, 212, 1) 0%, rgba(251, 241, 212, 1) 73%, rgba(204, 182, 146, 1) 73%, rgba(204, 182, 146, 1) 100%);
    padding: 9px 20px 0 21px;
}

.games-card-1 {background: linear-gradient(to bottom, rgba(192, 228, 252, 1) 0%, rgba(192, 228, 252, 1) 73%, rgba(233, 246, 254, 1) 73%, rgba(233, 246, 254, 1) 100%);}

.games-card-2 {background: linear-gradient(to bottom, rgba(255, 240, 211, 1) 0%, rgba(255, 240, 211, 1) 73%, rgba(254, 253, 248, 1) 73%, rgba(254, 253, 248, 1) 100%);}

.games-card-3 {background: linear-gradient(to bottom, rgba(223, 217, 255, 1) 0%, rgba(223, 217, 255, 1) 73%, rgba(239, 234, 255, 1) 73%, rgba(239, 234, 255, 1) 100%);}

    /* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

footer p {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.line {
    width: 330px;
    height: 2px;
    background: rgba(96, 150, 219, 1);
    border-radius: 2px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 15px 0 10px 0;
}

@media screen and (min-width: 780px) {
    header img {width: 564px;}
    .login-title, .games-title {font-size: 36px;}
    .loginInput, .loginBtn {
        width: 478px;
        height: 65px;
        font-size: 36px;
    }

    .all-games-items {
        width: 600px;
        row-gap: 31px;
    }

    .games-card, .games-card-1, .games-card-2, .games-card-3 {
        width: 284px;
        height: 225px;
    }
    .games-card img, .games-card-2 img, .games-card-3 img {
        width: 209.83px;
        height: 130.65px;
        margin-bottom: 13px;
    }
    .games-card-1 img {
        width: 284px;
        height: 159.18px;
    }
    .games-card, .games-card-2, .games-card-3 {
        padding: 16.33px 36.18px 0 37.99px;
    }
    .games-card-title-p {font-size: 26px;}

    .games-card-1 img {margin-bottom: 7px;}

    .line {
        width: 600px;
        height: 5px;
    }

    footer p {font-size: 28px;}
}
